body
{
    margin: 0;
    padding: 0;
    font-family: Source Sans Pro;
}

header
{
    height: 800px;
    width: 1400px;
    margin: 0;
    padding: 0;
    background-image: url("fav_images/images/headphones_hero_1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    
}


.navbar
{
    display: flex;
    justify-content: flex-start;
    justify-content: space-between;
    justify-content: space-around;
    align-items: center;
    padding-top: 28px;
}

nav a
{
   text-decoration: none;
   color: white;
   padding: 10px;
}

.middlecontent
{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 372px;

}

.header1
{
    text-align: center;
    line-height: 8px;
    

}

#head3
{
    font-size: 16px;
    font-weight: bold;

}

.button a
{
    width: 162px;
    height: 44px;

    display: inline-block;
    border-radius: 22px;
    box-shadow: black;
    font-size: 14px;
    font-weight: bold;
    background-color: #ff6565;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    
    
}

.paragraph
{
    font-size: 16px;
    font-weight: lighter;
    padding: 40px;
    text-align: center;
}

main
{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    
    
}

.what-we-do
{
    height: 184px;
    width: 637px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
    text-align: center;
    color: #071629;
}

#wwdp
{
    height: 104px;
    width: 637px;
    line-height: 26px;
    font-size: 16px;
}

.items-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    
}



@media screen and (max-width: 480px)
{
    body 
    {
        flex-wrap: wrap;

    }
    
}
